apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - port: 80         # Internal service port
      targetPort: 80   # Container port
      nodePort: 32000  # External port (must be 30000-32767)
